<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puissance 4</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <h1 class="title">Puissance 4</h1>
    <section class="pion-selection">
        <h2>Choisis ton pion</h2>
    <div class="pions">
    <label><input type="radio" name="pion" value="1" required> <img src="../images/sdm.jpg" alt="SDM" width="64"></label>
    <label><input type="radio" name="pion" value="2"> <img src="../images/kaaris.webp" alt="pion 2" width="64"></label>
    <label><input type="radio" name="pion" value="3"> <img src="../images/booba.png" alt="pion 3" width="64"></label>
    <label><input type="radio" name="pion" value="4"> <img src="../images/naps.jpg" alt="pion 4" width="64"></label>
    <label><input type="radio" name="pion" value="5"> <img src="../images/damso.jpg" alt="pion 5" width="64"></label>
    <label><input type="radio" name="pion" value="6"> <img src="../images/tiako.jpg" alt="pion 6" width="64"></label>
    <label><input type="radio" name="pion" value="7"> <img src="../images/leto.jpg" alt="pion 7" width="64"></label>
    <label><input type="radio" name="pion" value="8"> <img src="../images/plk.jpg" alt="pion 8" width="64"></label>
    <label><input type="radio" name="pion" value="9"> <img src="../images/niska.jpg" alt="pion 9" width="64"></label>
    <label><input type="radio" name="pion" value="10"> <img src="../images/jul.jpg" alt="pion 10" width="64"></label>
    </div>
        <p>Joueur sélectionné: <span id="selected-player">aucun</span></p>
    </section>
</body>
</html>
