body {
    background-image: url("../images/kavitv.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; /* étire horizontal et vertical */
    margin: 0;
    padding: 0;
}
.pion-selection {
    background-color: rgba(255, 255, 255, 0.7); /* blanc translucide */
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
}
.title {
    color: white; /* texte blanc */
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
